
.projects{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    margin-bottom: 1rem;
        
    &_image{
    height: 40vh;
    
    text-align: center;
    padding-top: 30vh;  
    background:linear-gradient(
        to right,
        rgba($accentColor, 0.7),
        rgba($accentColor, 0.3)
      ),
    url('../img/IMG_20210923_080334_319.webp') left;
    background-size: cover;
    background-repeat: no-repeat; 
    

    &_header{
        font-size: 2rem;
        margin: 1rem;
        color: $secondaryColor;
    }
}

&_items {
      width: 60vw;
      margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;    
}

&_item {
      position: relative;
      border-bottom: 5px solid $secondaryColor;
      overflow: hidden;
      cursor: pointer;

    &_image {
        width: 100%;    
    }
    
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: $secondaryColor;
        opacity: 0;
        @include transition-ease;
      }
  
      &:hover {
        &::after {
          top: 0;
          opacity: 0.9;
        }
        .projects_btn {
          opacity: 1;
        }
      }
}

&_btns {
    position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
    
}

&_btn {
    opacity: 0;
    color: set-text-color($secondaryColor);
    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color($secondaryColor));
    }
  }

.social-icons{
    display: flex;
    flex-direction: column;
    transform: translateY(-30px);
}

footer{
    transform: rotate(90deg) 
    translate(-7rem,-2rem);   
}
}


