@include media-md{

    main{

        .bio{
            &_image{
                &_header{
                    font-size: 4rem;
                }
                &_text{
                    font-size: 1.5rem;
                }
            }

            .jobs{
                &_job{
                    h1,h2{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 2rem;
                        
                    }
                }
            }
            footer{
                font-size: 1.75rem;
                transform: rotate(90deg) translate(-90px,-50px);
                
            }
        }

    .contact{

        h2{
            font-size: 7rem;
        }

        &_list{
            font-size: 3rem;
        }

        footer{
            font-size: 3rem;
        }
    }

     } 
}

@include media-lg{


    .nav-left{
        
        visibility: hidden;
        
    }

    .nav{   
        .nav-middle{  
            visibility: visible;
            transform: none;
            height: auto;
            

            .menu-nav{

            &_item{
                display: inline;
                margin-right: 1rem;
            }
            
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: fontWeights(regular);
            }
        }
        }
    }
    
    main{

        .bio{
            &_image{
                &_header{
                    font-size: 3rem;
                }
                &_text{
                    font-size: 1rem;
                }
            }
            .jobs{
                &_job{
                    p{
                        font-size: 1.25rem;
                    }
                }
            }
            footer{
                font-size: 1rem;
                transform: rotate(90deg) translate(-90px,-20px);
            }
        }

        .projects{

            &_items{
                grid-template-columns: repeat(3,1fr);
            }
        }

        .contact{
    
            h2{
                font-size: 5rem;
            }
    
            &_list{
                display: flex;
                gap: 1rem;
                font-size: 2rem;
            }
    
            footer{
                font-size: 1.5rem;
            }
        }
    
         }    
}