@import 'resets';
@import 'variables';
@import 'menu';
@import 'home';
@import 'about';
@import 'projects';
@import 'responsive';

body{
    background-color: $accentColor;
    color: set-text-color($accentColor);
    height: 100vh;
    font-family: $mainFont;
    line-height: 1;
    overflow: hidden;

    h1{
        font-weight: fontWeights(bold);
    }

    h2,h3{
        font-weight: fontWeights(thin);
    }

    li{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    

    header{
        position: sticky;
        display: flex;
        justify-content: space-between;
        z-index: 2;

        .nav-left{
            width: 24px;
            height: 24px;
            margin-left: 1rem;
            margin-top: 1rem;
            cursor: pointer;
            @include transition-ease;
            
            .menu-nav_burger{
                position: absolute;
                left: 1rem;
                top: 2rem;
                width: 24px;
                height: 3px;
                background: set-text-color($accentColor);
                @include transition-ease;

                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: -8px;
                    width: 24px;
                    height: 3px;
                    background: set-text-color($accentColor);
                    @include transition-ease;
            }
        
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 8px;
                    width: 24px;
                    height: 3px;
                    background: set-text-color($accentColor);
                    @include transition-ease;
                }
              
                &.show{
                    transform: rotate(720deg);
                    background: transparent;

                    &::before{
                        transform: rotate(45deg) translate(5px, 8px);
                    }
                    &::after{
                        transform: rotate(-45deg) translate(3px,-7px);
                    }                
                }
            }         
        }

        .nav-right{
            margin-top: .5rem;
            margin-right: 1rem;
        
            img{
               
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }

    main{
        position: absolute;
        top: 0;

        .social-icons{
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            

            a{
                margin: .5rem;
                color: set-text-color($accentColor);
                @include transition-ease;

                &:hover{
                    color: $secondaryColor;
                }
            }
        }

        footer{
            position: fixed;
            bottom: 1rem;
            right: 1rem;
            color: set-text-color($accentColor);
            margin-right: 1rem;
        }
    }

}
