$mainFont:'Roboto', sans-serif;
$headColor:rgb(183, 192, 192);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: $mainFont;
}

body{
    background-color: #333333;
    
header{
    background-color:$headColor;
    height: 4rem;

    .nav-left,.nav-middle,.menu-nav,.menu-nav_item{
        display: inline-block;
    }
  .nav-left{
    margin-top: 1rem;
    margin-left: 1rem;
  }
    .nav-middle{
        position: absolute;
        margin-top: 1rem;
        left: 50rem;
        
    }
    .menu-nav{
        list-style: none;
    }
    a{

        text-decoration: none;
        font-size: 1.5rem;
        margin-right: 1rem;

       /* unvisited link */
&:link {
    color: #ffffff;
  }
  
  /* visited link */
  &:visited {
    color: #000000;
  }
  
  /* mouse over link */
  &:hover {
    color: hotpink;
  }
  &:active {
    text-decoration: underline;
  }
    }
}
main{
  .home{
    width: 100%;
    height: 100%;
    padding-top: 20rem;

    h1{
      font-size: 5rem;
      text-align: center;
      color: crimson;
    }
    h2{
      text-align: center;
      color: cadetblue;
    }
    .social-icons{
      margin-top: 23rem;
      padding-left: 62rem;
      margin-bottom: 1.5rem;

      a{
        margin: 1rem;
      }
    }
   footer{
    padding-left: 1rem;
    background-color: $headColor;
   } 
  }
}
}
